body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F1E7;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex; /* makes the content area a flex container */
}

.body-container {
    display: flex;
    justify-content: center;
    height: 100%; 
    margin-left: 50px;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: black;
    margin-bottom: 20px;
}

.button {
    background-color: orange;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.address {
    color: black;
    text-align: center;
}
.update, .delete {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

p {
    color: #666;
    line-height: 1.6;
}