.thongTinTaiKhoan {
    color: #000;
    font-size: 36px;
    font-weight: 600;
    font-family: EB Garamond, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 50.7448%;
    right: 5.1877%;
    top: 0;
    bottom: 91.6954%;
    width: 443.7599px;
    height: 70.5057px;
    justify-content: center;
    flex-direction: column;
}
.tenAngNhap {
color: #000;
font-size: 24px;
font-weight: 500;
font-family: EB Garamond, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
position: absolute;
left: 50.8441%;
right: 33.4102%;
top: 13.7809%;
bottom: 82.1327%;
width: 158.5592px;
height: 34.6933px;
flex-direction: column;
}
.iD {
color: #000;
font-size: 24px;
font-weight: 500;
font-family: EB Garamond, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
position: absolute;
left: 50.8441%;
right: 33.4102%;
top: 22.0259%;
bottom: 73.8877%;
width: 158.5592px;
height: 34.6933px;
flex-direction: column;
}
.matKhauCu {
color: #000;
font-size: 24px;
font-weight: 500;
font-family: EB Garamond, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
position: absolute;
left: 51.3736%;
right: 35.1301%;
top: 48.5457%;
bottom: 47.3679%;
width: 135.9079px;
height: 34.6933px;
flex-direction: column;
}
.member123 {
color: #9f9f9f;
font-size: 24px;
font-family: EB Garamond, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
position: absolute;
left: 83.5154%;
right: 5.0332%;
top: 13.7809%;
bottom: 82.1327%;
width: 115.3158px;
height: 34.6933px;
flex-direction: column;
}
._20031510 {
color: #9f9f9f;
font-size: 24px;
font-family: EB Garamond, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
position: absolute;
left: 83.5154%;
right: 5.0332%;
top: 22.0259%;
bottom: 73.8877%;
width: 115.3158px;
height: 34.6933px;
flex-direction: column;
}
.line10 {
position: absolute;
left: 50.8441%;
right: 0.6951%;
top: 28.9753%;
bottom: 70.9069%;
width: 488px;
max-width: 100%;
height: 0;
max-height: 100%;
border-bottom: solid 1px #d9d9d9;
margin-bottom: -1px;
}
.thayOiMatKhau {
color: #000;
font-size: 36px;
font-weight: 600;
font-family: EB Garamond, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
position: absolute;
left: 50.7448%;
right: 8.7663%;
top: 33.2155%;
bottom: 58.4799%;
width: 407.7237px;
height: 70.5057px;
justify-content: center;
flex-direction: column;
}
.matKhauMoi {
color: #000;
font-size: 24px;
font-weight: 500;
font-family: EB Garamond, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
position: absolute;
left: 51.4759%;
right: 33.9031%;
top: 64.364%;
bottom: 31.5497%;
width: 147.2336px;
height: 34.6933px;
flex-direction: column;
}
.xacNhanMatKhauMoi {
color: #000;
font-size: 24px;
font-weight: 500;
font-family: EB Garamond, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
position: absolute;
left: 51.3736%;
right: 24.2921%;
top: 80.1822%;
bottom: 15.7315%;
width: 245.0461px;
height: 34.6933px;
flex-direction: column;
}
.rectangle55 {
position: absolute;
left: 77.855%;
right: 0;
top: 45.7008%;
bottom: 45.2297%;
width: 223px;
height: 77px;
outline: solid 1px #9f9f9f;
outline-offset: -1px;
border-radius: 50px;
background-color: #fff;
}
.rectangle56 {
position: absolute;
left: 77.855%;
right: 0;
top: 61.6019%;
bottom: 29.3286%;
width: 223px;
height: 77px;
outline: solid 1px #9f9f9f;
outline-offset: -1px;
border-radius: 50px;
background-color: #fff;
}
.rectangle54 {
position: absolute;
left: 77.855%;
right: 0;
top: 77.2674%;
bottom: 13.6631%;
width: 223px;
height: 77px;
outline: solid 1px #9f9f9f;
outline-offset: -1px;
border-radius: 50px;
background-color: #fff;
}
.rectangle12 {
position: absolute;
left: 58.8878%;
right: 9.5333%;
top: 92.4617%;
bottom: 0;
width: 318px;
height: 64px;
outline: solid 1px #000;
outline-offset: -1px;
border-radius: 15px;
}
.xacNhanThayOi {
color: #000;
font-size: 24px;
font-weight: 600;
font-family: EB Garamond, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
position: absolute;
left: 64.8461%;
right: 15.4916%;
top: 94.3463%;
bottom: 2.0024%;
width: min-content;
height: min-content;
white-space: nowrap;
flex-direction: column;
}
