.header-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.ca-hng2,
.dabm3,
.gii-thiu1,
.lin-h2,
.trang-ch2 {
  position: absolute;
  top: 42%;
  left: 34.38%;
  font-weight: 500;
}
.ca-hng2,
.dabm3,
.gii-thiu1,
.lin-h2 {
  left: 43.4%;
}
.dabm3,
.gii-thiu1,
.lin-h2 {
  left: 52.01%;
}
.dabm3,
.lin-h2 {
  left: 61.11%;
}
.dabm3 {
  height: 35%;
  width: 13.06%;
  top: 31%;
  left: 7.36%;
  font-size: var(--font-size-15xl);
  font-weight: 600;
  font-family: var(--font-museomoderno);
  color: var(--color-peru);
  display: inline-block;
}
.vector-icon8 {
  position: absolute;
  height: 30.1%;
  width: 2.44%;
  top: 40.9%;
  right: 93.06%;
  bottom: 29%;
  left: 4.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon9 {
  position: absolute;
  height: 26%;
  width: 1.81%;
  top: 43%;
  right: 20.35%;
  bottom: 31%;
  left: 77.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13 {
  height: 24.5%;
  width: 1.88%;
  top: 43.5%;
  right: 15.07%;
  bottom: 32%;
  left: 83.06%;
}
.vector-icon11,
.vector-icon12,
.vector-icon13 {
  height: 4.5%;
  width: 0.35%;
  top: 41%;
  right: 15.83%;
  bottom: 54.5%;
  left: 83.81%;
}
.vector-icon12,
.vector-icon13 {
  height: 25%;
  width: 1.74%;
  top: 42%;
  right: 9.86%;
  bottom: 33%;
  left: 88.4%;
}
.vector-icon13 {
  right: 4.58%;
  left: 93.68%;
}
.header1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 100px;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.avatar-icon1,
.slide-meny-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.avatar-icon1 {
  height: 16.36%;
  width: 49.65%;
  top: 7.71%;
  right: 25.18%;
  bottom: 75.93%;
  left: 25.18%;
  object-fit: cover;
}
.thng-tin-c1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.45%;
  width: 56.74%;
  top: 40.56%;
  left: 28.01%;
  font-size: var(--font-size-lg);
  font-family: var(--font-eb-garamond);
  color: var(--color-darkgoldenrod);
  text-align: left;
  display: inline-block;
}
.material-symbolsperson-outlin-icon1 {
  position: absolute;
  height: 3.33%;
  width: 10.64%;
  top: 40%;
  right: 74.11%;
  bottom: 56.67%;
  left: 15.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qun-l-sch2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.45%;
  width: 56.74%;
  top: 46.89%;
  left: 26.95%;
  font-size: var(--font-size-lg);
  font-family: var(--font-eb-garamond);
  color: var(--color-darkgoldenrod);
  text-align: left;
  display: inline-block;
}
.phbook-bold-icon1 {
  position: absolute;
  height: 3.33%;
  width: 10.64%;
  top: 46.89%;
  right: 74.11%;
  bottom: 49.78%;
  left: 15.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xem-n-hng1 {
  margin: 0;
}
.xem-n-hng-container1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.45%;
  width: 56.74%;
  top: 53.45%;
  left: 26.95%;
  font-size: var(--font-size-lg);
  font-family: var(--font-eb-garamond);
  color: var(--color-darkgoldenrod);
  text-align: left;
  display: inline-block;
}
.mingcutebill-line-icon1 {
  position: absolute;
  height: 3.33%;
  width: 10.64%;
  top: 53%;
  right: 74.11%;
  bottom: 43.67%;
  left: 15.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.thng-k-sch1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.45%;
  width: 56.74%;
  top: 59.55%;
  left: 28.72%;
  font-size: var(--font-size-lg);
  font-family: var(--font-eb-garamond);
  color: var(--color-darkgoldenrod);
  text-align: left;
  display: inline-block;
}
.phmoney-bold-icon1 {
  position: absolute;
  height: 3.33%;
  width: 10.64%;
  top: 59%;
  right: 72.34%;
  bottom: 37.68%;
  left: 17.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.avatar-profile3,
.avatar-profile4,
.avatar-profile5 {
  position: absolute;
  width: 89.72%;
  left: 5.32%;
  display: inline-block;
}
.avatar-profile3 {
  height: 3.62%;
  top: 26.76%;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.avatar-profile4,
.avatar-profile5 {
  height: 2.57%;
  top: 30.61%;
}
.avatar-profile5 {
  top: 33.41%;
}
.slide-meny1 {
  position: absolute;
  top: 416px;
  left: 0;
  width: 282px;
  height: 826px;
  text-align: center;
  color: var(--color-darkgoldenrod);
}
.nhp-sch-mi-child {
  position: absolute;
  top: 94px;
  left: 0;
  width: 1440px;
  height: 328px;
  object-fit: cover;
}
.nhp-hng-mi {
  position: absolute;
  top: 227px;
  left: 581px;
  font-size: var(--font-size-29xl);
  font-weight: 500;
}
.vector-icon14 {
  position: absolute;
  top: 197.9px;
  left: 712.9px;
  width: 35.1px;
  height: 30.1px;
  mix-blend-mode: normal;
}
.c-nhn1,
.qun-l-sch3 {
  position: absolute;
  top: 290px;
  left: 530px;
}
.qun-l-sch3 {
  left: 604px;
}
.nhp-hng-mi1,
.trang-ch3,
.xem-sch1 {
  position: absolute;
  top: 290px;
  left: 717px;
}
.nhp-hng-mi1,
.trang-ch3 {
  left: 808px;
}
.trang-ch3 {
  top: 25.35%;
  left: 36.46%;
  font-weight: 500;
}
.ca-hng3,
.gii-thiu-v1,
.lin-h3,
.lin-kt1,
.v-dabm1 {
  position: absolute;
  top: 39.21%;
  left: 36.46%;
  font-weight: 500;
}
.gii-thiu-v1,
.lin-h3,
.lin-kt1,
.v-dabm1 {
  top: 53.07%;
}
.lin-h3,
.lin-kt1,
.v-dabm1 {
  top: 66.73%;
}
.lin-kt1,
.v-dabm1 {
  top: 9.7%;
  left: 36.32%;
  color: var(--color-darkgray);
}
.v-dabm1 {
  left: 51.04%;
}
.chnh-sch-bo1,
.iu-khon1,
.thanh-ton1 {
  position: absolute;
  top: 25.35%;
  left: 51.04%;
  font-weight: 500;
}
.chnh-sch-bo1,
.thanh-ton1 {
  top: 39.21%;
}
.chnh-sch-bo1 {
  top: 52.87%;
}
.nhn-thng-bo1,
.nhp-email-ca1 {
  position: absolute;
  left: 65.76%;
  color: var(--color-darkgray);
}
.nhn-thng-bo1 {
  top: 10.1%;
  font-weight: 500;
}
.nhp-email-ca1 {
  border: 0;
  font-family: var(--font-eb-garamond);
  font-size: var(--font-size-base);
  background-color: transparent;
  top: 25.35%;
  text-align: left;
}
.footer-child2 {
  position: absolute;
  height: 0.4%;
  width: 14.03%;
  top: 29.9%;
  right: 20.28%;
  bottom: 69.7%;
  left: 65.69%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.ng-k1 {
  position: absolute;
  top: 25.35%;
  left: 80.42%;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.footer-child3 {
  position: absolute;
  height: 0.4%;
  width: 5.35%;
  top: 29.9%;
  right: 14.31%;
  bottom: 69.7%;
  left: 80.35%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.dabm4 {
  position: absolute;
  top: 11.09%;
  left: 7.08%;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-museomoderno);
  color: var(--color-peru);
}
.l-thng-kit1 {
  position: absolute;
  width: 19.79%;
  top: 23.17%;
  left: 6.94%;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-darkgray);
  display: inline-block;
}
.footer-child4 {
  position: absolute;
  height: 0.2%;
  width: 86.18%;
  top: 80.89%;
  right: 6.91%;
  bottom: 18.91%;
  left: 6.91%;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.dabm-tt-c1,
.quc-gia1 {
  position: absolute;
  top: 85.54%;
  left: 7.08%;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.quc-gia1 {
  left: 59.03%;
}
.footer1 {
  position: absolute;
  top: 1242px;
  left: 0;
  width: 1440px;
  height: 505px;
  font-size: var(--font-size-xl);
}
.dabm5 {
  position: relative;
  font-weight: 600;
}
.dabm-container {
  position: absolute;
  top: 430px;
  left: 372px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-15xl);
  color: var(--color-peru);
  font-family: var(--font-museomoderno);
}
.vector-icon15 {
  position: relative;
  width: 35.1px;
  height: 22.7px;
  mix-blend-mode: normal;
}
.thng-tin-sch-container,
.vector-container {
  position: absolute;
  top: 447px;
  left: 322px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.thng-tin-sch-container {
  top: 487px;
  left: 572px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgoldenrod);
}
.m-t-thm1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 153.3px;
  height: 16.6px;
  flex-shrink: 0;
}
.frame-child9 {
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 647px;
  height: 52px;
}
.m-t-thm-group {
  position: absolute;
  top: 1052px;
  left: 332px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.tn-sch1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 110px;
  height: 16.6px;
  flex-shrink: 0;
}
.rectangle-input {
  border: 1px solid var(--color-darkgray);
  background-color: var(--color-white);
  position: relative;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  width: 258px;
  height: 52px;
}
.tn-sch-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.m-sch1,
.nh-xut-bn1,
.s-trang1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 117.2px;
  height: 16.6px;
  flex-shrink: 0;
}
.m-sch1,
.s-trang1 {
  width: 104px;
}
.s-trang1 {
  width: 102.4px;
}
.frame-container {
  position: absolute;
  top: 551.7px;
  left: 332px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.tn-tc-gi1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 134.1px;
  height: 16.6px;
  flex-shrink: 0;
}
.rectangle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nm-xut-bn1,
.s-lng1,
.th-loi1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 167.2px;
  height: 16.6px;
  flex-shrink: 0;
}
.s-lng1,
.th-loi1 {
  width: 85px;
}
.s-lng1 {
  width: 105.5px;
}
.tn-tc-gi-group {
  position: absolute;
  top: 552px;
  left: 720px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-child19 {
  position: relative;
  width: 232px;
  height: 260px;
  object-fit: cover;
}
.thm-nh-minh {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-eb-garamond);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
}
.rectangle-container {
  position: absolute;
  top: 547px;
  left: 1108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.tip-theo,
.tr-v {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-lg);
  text-decoration: underline;
  font-weight: 700;
  font-family: var(--font-eb-garamond);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.tr-v {
  width: 107px;
  flex-shrink: 0;
}
.tip-theo-parent {
  position: absolute;
  top: 1177px;
  left: 501px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 101px;
}
.xc-nhn {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-eb-garamond);
  color: var(--color-black);
  text-align: center;
}
.xc-nhn-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-lightgoldenrodyellow);
  border-radius: var(--br-31xl);
  align-items: center;
  justify-content: center;
}
.frame-div,
.hy-wrapper,
.xc-nhn-wrapper {
  display: flex;
  flex-direction: row;
}
.hy-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: #f8c2b1;
  border-radius: var(--br-31xl);
  width: 120px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.frame-div {
  position: absolute;
  top: 1167px;
  left: 1062px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}
.nhp-sch-mi {
  position: relative;
  background-color: var(--color-linen);
  width: 100%;
  height: 1747px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-eb-garamond);
}
